* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #000; }

li {
  list-style: none; }

header {
  height: 191px;
  width: 1262px; }
  header .er {
    height: 36px;
    background: #f2f2f2;
    line-height: 36px; }
    header .er .er1 {
      margin-left: 42px;
      float: left; }
      header .er .er1 a {
        float: left;
        text-decoration: none;
        margin-right: 20px;
        font-size: 12px;
        color: #737373;
        padding-left: 6px;
        padding-right: 6px; }
        header .er .er1 a .er11 {
          width: 20px;
          height: 26px;
          background: url(../img/common_z.png);
          background-position: 0 51px;
          display: inline-block;
          margin-right: 4px;
          margin-top: 4px; }
        header .er .er1 a .er12 {
          width: 20px;
          height: 26px;
          background: url(../img/common_z.png);
          background-position: 464px 236px;
          display: inline-block;
          margin-right: 4px;
          margin-top: 8px; }
        header .er .er1 a .er13 {
          width: 20px;
          height: 26px;
          background: url(../img/common_z.png);
          background-position: 122px 197px;
          display: inline-block;
          margin-top: 8px;
          margin-right: 4px; }
        header .er .er1 a .w33 {
          display: none;
          font-size: 12px;
          position: absolute;
          border: 1px solid #737373;
          text-align: center;
          background: #fff;
          z-index: 5000;
          line-height: 20px;
          color: #737373; }
          header .er .er1 a .w33 img {
            margin: 10px; }
      header .er .er1 a:hover .w33 {
        display: block;
        margin: 0; }
    header .er span {
      float: left; }
    header .er .er2 {
      font-size: 12px;
      float: right;
      color: #727272;
      margin-right: 30px; }
      header .er .er2 a {
        float: left;
        text-decoration: none;
        font-size: 12px;
        color: #737373;
        height: 36px;
        padding-left: 8px;
        padding-right: 8px; }
        header .er .er2 a .er21 {
          width: 0;
          border: 6px solid transparent;
          border-top: 6px solid #d9d9d9;
          margin-top: 14px;
          display: block;
          float: right; }
        header .er .er2 a .er22 {
          height: 32px;
          width: 24px;
          background: url(../img/common_z.png);
          background-position: 78px 86px;
          display: inline-block;
          vertical-align: middle; }
      header .er .er2 .er221:hover {
        background: #f2f2f2; }
      header .er .er2 #er2222 {
        float: left; }
      header .er .er2 .er222 {
        position: absolute;
        background: #fff;
        width: 62px;
        height: 130px;
        left: 840px;
        top: 36px;
        border: 1px solid #e7e7e7;
        border-top: none;
        padding-left: 14px;
        display: none; }
        header .er .er2 .er222 a {
          height: 24px;
          padding: 0; }
        header .er .er2 .er222 a:hover {
          text-decoration: underline; }
      header .er .er2 #er2222:hover .er222 {
        display: block; }
    header .er a:hover {
      color: #ff6a00;
      background: #fff;
      height: 36px; }
      header .er a:hover .er21 {
        width: 0;
        border: 6px solid transparent;
        border-top: 6px solid #ff6a00;
        margin-top: 14px; }
    header .er .er223 {
      float: left;
      position: relative; }
      header .er .er223 div {
        height: 120px;
        width: 300px;
        border: 1px solid #e7e7e7;
        position: absolute;
        top: 36px;
        left: -196px;
        text-align: center;
        line-height: 120px;
        background: #fff;
        display: none; }
  header .er223:hover div {
    display: block; }
  header .er3 {
    height: 118px; }
    header .er3 img {
      margin: 40px 0 0 20px;
      float: left; }
    header .er3 nav {
      float: left;
      margin-left: 276px;
      margin-top: 40px; }
      header .er3 nav .er31 {
        border: 1px solid #ff6a00;
        height: 30px;
        width: 238px;
        color: #aeaeae;
        font-size: 16px; }
      header .er3 nav .er32 {
        width: 80px;
        height: 33px;
        margin-left: -6px;
        background: #ff6a00;
        border: none; }
      header .er3 nav p a {
        color: #aeaeae;
        font-size: 12px; }
      header .er3 nav a:hover {
        color: #ff6a00; }
      header .er3 nav p span {
        font-size: 12px;
        margin-left: 4px;
        color: #e0d9e0; }
    header .er3 .er33 {
      float: right;
      margin-top: 40px;
      margin-right: 30px;
      height: 40px;
      font-size: 14px;
      color: #737373;
      line-height: 40px; }
      header .er3 .er33 .er34 {
        width: 28px;
        height: 28px;
        display: inline-block;
        background: url(../img/common_z.png) 38px 324px;
        vertical-align: middle; }
      header .er3 .er33 .er35 {
        width: 28px;
        height: 28px;
        display: inline-block;
        background: url(../img/common_z.png) 125px 238px;
        vertical-align: middle; }
      header .er3 .er33 a {
        color: #737373;
        font-size: 14px; }
      header .er3 .er33 a:hover {
        color: #ff6a00;
        text-decoration: underline; }
  header .er4 {
    height: 37px;
    line-height: 37px;
    width: 100%;
    background: #ff6a00; }
    header .er4 .er44 {
      display: inline-block;
      width: 184px;
      background: #ff6a00;
      height: 37px;
      color: #fff;
      padding-left: 8px;
      margin-right: 20px; }
      header .er4 .er44 img {
        height: 35px;
        position: absolute;
        left: 180px;
        top: 153px; }
      header .er4 .er44 .er5 {
        width: 180px;
        height: 400px;
        border: 1px solid red;
        position: absolute;
        left: 28px;
        background: #fff;
        padding: 0 10px;
        color: #ff6a00;
        font-size: 14px;
        line-height: 26px;
        display: none;
        z-index: 500; }
        header .er4 .er44 .er5 div {
          border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
          header .er4 .er44 .er5 div a {
            font-size: 10px;
            display: inline-block;
            margin: 0 2px;
            padding: 0;
            height: 16px;
            line-height: 16px;
            color: #7e7e7e; }
          header .er4 .er44 .er5 div a:hover {
            background: #fff;
            text-decoration: underline;
            color: #ff6a00; }
    header .er4 .er44:hover {
      background: #FF6A00; }
      header .er4 .er44:hover .er5 {
        display: block; }
    header .er4 a {
      color: #fff;
      margin-right: 50px;
      display: inline-block;
      height: 37px;
      padding: 0 10px;
      margin: 0 20px; }
    header .er4 .er41 {
      color: #ff6a00; }
    header .er4 a:hover {
      background: #F19937; }

#yi {
  height: 40px;
  margin: 0 auto;
  width: 1202px;
  line-height: 40px;
  font-size: 14px;
  color: #ff6a00; }
  #yi a {
    color: #666; }
  #yi a:hover {
    color: #ff6a00;
    text-decoration: underline; }

#san {
  width: 1160px;
  height: 580px;
  padding: 20px;
  border: 1px solid #e7e7e7;
  margin: 0 auto; }
  #san .san1 {
    height: 557px;
    margin: 0 20px;
    padding: 0 20px;
    width: 510px;
    float: left; }
    #san .san1 img {
      width: 430px;
      position: absolute;
      z-index: 1; }
    #san .san1 a img {
      width: 60px;
      position: static;
      margin-top: 500px;
      margin-right: 30px;
      border: 2px solid #F3F3F3; }
    #san .san1 a:hover img {
      border: 2px solid #Ff6a00; }
  #san .san2 {
    height: 557px;
    width: 550px;
    float: left;
    line-height: 26px; }
    #san .san2 p {
      color: #ff6a00; }
    #san .san2 h3 {
      font-size: 16px; }
    #san .san2 .san3 {
      height: 253px;
      padding: 10px 0;
      border-top: 1px solid #7e7e7e;
      border-bottom: 1px solid #7e7e7e;
      margin-top: 26px;
      font-size: 12px;
      margin-bottom: 26px;
      line-height: 30px; }
      #san .san2 .san3 p {
        color: #7e7e7e; }
        #san .san2 .san3 p span {
          margin-right: 30px; }
      #san .san2 .san3 span {
        margin-right: 30px; }
      #san .san2 .san3 nav {
        color: #7e7e7e;
        position: relative;
        width: 50px;
        display: inline-block;
        padding: 2px 10px;
        z-index: 12; }
        #san .san2 .san3 nav .san5 {
          width: 380px;
          height: 280px;
          border: 1px solid #7e7e7e;
          position: absolute;
          left: -1px;
          top: 26px;
          padding: 10px;
          font-size: 14px;
          background: #fff;
          display: none; }
          #san .san2 .san3 nav .san5 h4 {
            margin: 10px 0;
            color: #666; }
          #san .san2 .san3 nav .san5 span {
            display: inline-block;
            color: #0074D9;
            border: 2px solid #ff6a00;
            padding: 0 10px;
            border-bottom: none; }
          #san .san2 .san3 nav .san5 p {
            border-bottom: 2px solid #ff6a00;
            width: 310px;
            margin-left: 64px; }
          #san .san2 .san3 nav .san5 a {
            width: 80px;
            display: inline-block;
            font-size: 10px;
            height: 20px;
            line-height: 20px;
            float: left; }
          #san .san2 .san3 nav .san5 a:hover {
            color: #fff;
            background: #ff6a00; }
      #san .san2 .san3 nav:hover {
        border: 1px solid #ff6a00;
        padding: 1px 9px; }
        #san .san2 .san3 nav:hover .san5 {
          display: block; }
    #san .san2 .san6 {
      color: #666;
      text-decoration: line-through; }
    #san .san2 b {
      color: #ff6a00; }
    #san .san2 .san7 {
      width: 560px;
      height: 42px;
      background: #e7e7e7;
      font-size: 10px; }
      #san .san2 .san7 p {
        display: inline-block;
        border: 1px solid #ff6a00;
        height: 20px;
        margin: 10px 0;
        margin-right: 14px;
        background: #fff;
        line-height: 20px; }
      #san .san2 .san7 .san8 {
        width: 98px;
        float: right;
        height: 40px;
        margin-right: 10px;
        padding: 1px; }
        #san .san2 .san7 .san8 a {
          width: 98px;
          height: 40px;
          display: inline-block;
          line-height: 42px;
          text-align: center;
          padding: 1px; }
        #san .san2 .san7 .san8 img {
          width: 100px;
          padding: 10px;
          border: 1px solid #7e7e7e;
          display: none; }
      #san .san2 .san7 .san8:hover {
        background: #fff;
        border: 1px solid #666;
        padding: 0; }
        #san .san2 .san7 .san8:hover img {
          display: block; }
    #san .san2 .san9 {
      display: inline-block;
      width: 160px;
      height: 50px;
      font-size: 18px;
      color: #fff;
      background: #ff6a00;
      text-align: center;
      line-height: 50px;
      margin-top: 30px;
      margin-right: 60px; }
    #san .san2 .san10 {
      display: inline-block;
      font-size: 14px;
      color: #666; }
      #san .san2 .san10 i {
        width: 16px;
        height: 16px;
        display: inline-block;
        background: url(../img/ico_cart_d.png) 0px 17px;
        margin-right: 6px; }
    #san .san2 .san10:hover {
      color: #ff6a00;
      text-decoration: underline; }

#si {
  width: 210px;
  height: 1919px;
  float: left;
  margin-left: 30px;
  margin-top: 50px; }
  #si nav {
    height: 74px;
    border: 1px solid #e7e7e7;
    line-height: 38px; }
    #si nav p {
      height: 30px;
      background: pink;
      text-align: center;
      line-height: 30px; }
  #si #wu {
    width: 190px;
    border: 1px solid #e7e7e7;
    padding: 0 10px;
    margin-top: 20px;
    margin-left: 10px;
    position: relative;
    left: -10px;
    font-size: 12px; }
    #si #wu p {
      height: 30px;
      font-size: 14px;
      color: #666;
      text-align: center;
      background: pink;
      width: 202px;
      margin-left: -11px;
      width: 211px; }
    #si #wu a {
      color: #7e7e7e; }
      #si #wu a img {
        width: 180px;
        padding-top: 10px;
        padding-bottom: 6px; }
    #si #wu h5 {
      text-align: center;
      color: #ff6a00;
      padding: 16px 0;
      border-bottom: 1px solid #e7e7e7; }
    #si #wu .wu11 {
      border: none; }
    #si #wu a:hover {
      color: #ff6a00;
      text-decoration: underline; }

#liu {
  width: 970px;
  height: 7790px;
  float: left;
  border-left: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin-left: 20px;
  margin-top: 50px; }
  #liu #qi {
    height: 38px;
    width: 970px;
    background: #fff;
    line-height: 38px;
    position: sticky;
    top: 0; }
    #liu #qi span {
      display: inline-block;
      border-top: 1px solid #666;
      border-right: 1px solid #e7e7e7;
      padding: 0 20px;
      height: 36px;
      border-bottom: 1px solid #fff; }
    #liu #qi a {
      display: inline-block;
      padding: 0 20px;
      border-top: 1px solid #e7e7e7;
      border-right: 1px solid #e7e7e7;
      border-bottom: 1px solid #666;
      height: 36px; }
    #liu #qi a:hover {
      color: #ff6a00; }
    #liu #qi p {
      display: inline-block;
      border-bottom: 1px solid #666;
      width: 655px;
      vertical-align: bottom; }
  #liu #ba {
    width: 750px;
    margin: 0 auto; }
    #liu #ba img {
      float: left; }

#shi {
  height: 38px;
  width: 970px;
  background: #fff;
  line-height: 38px; }
  #shi span {
    display: inline-block;
    border-top: 1px solid #666;
    border-right: 1px solid #e7e7e7;
    padding: 0 20px;
    height: 36px;
    border-bottom: 1px solid #fff; }
  #shi a {
    display: inline-block;
    padding: 0 20px;
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #666;
    height: 36px; }
  #shi a:hover {
    color: #ff6a00; }
  #shi p {
    display: inline-block;
    border-bottom: 1px solid #666;
    width: 655px;
    vertical-align: bottom; }

#jiu {
  margin-top: 30px;
  width: 970px;
  height: 1072px;
  float: right;
  margin-right: 36px;
  border-left: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7; }
  #jiu .shi2 {
    font-size: 12px;
    text-align: center;
    color: #7e7e7e;
    height: 60px;
    line-height: 60px; }
    #jiu .shi2 span {
      color: #ff6a00; }
    #jiu .shi2 a {
      color: #ff6a00; }
    #jiu .shi2 a:hover {
      text-decoration: underline; }
  #jiu ol {
    margin: 20px; }
    #jiu ol li {
      height: 130px;
      border-bottom: 1px dotted #7e7e7e;
      margin-top: 20px; }
      #jiu ol li a {
        width: 219px;
        float: left;
        color: #7e7e7e; }
      #jiu ol li img {
        width: 50px; }
      #jiu ol li .jiu3 {
        float: left; }
      #jiu ol li div {
        font-size: 12px;
        width: 710px;
        color: #666;
        line-height: 26px; }
        #jiu ol li div span {
          float: right; }
        #jiu ol li div p {
          border-top: 1px solid #7e7e7e; }
        #jiu ol li div b {
          height: 14px;
          width: 70px;
          background: url(../img/common_z.png) 421px 16px;
          display: inline-block; }

#shiy {
  width: 970px;
  height: 538px;
  float: right;
  margin-right: 36px;
  margin-top: 20px;
  border-left: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7; }
  #shiy li {
    padding: 0 18px;
    margin: 20px 0;
    line-height: 40px;
    float: left;
    margin-left: 40px;
    /* a:hover{
			color: #ff6a00;
			p{
				background: #ff6a00;
			}
		} */ }
    #shiy li a {
      color: #7e7e7e;
      font-size: 14px;
      text-align: center; }
      #shiy li a img {
        position: absolute;
        left: 290px;
        top: 9980px;
        z-index: 1; }
    #shiy li p {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background: #7e7e7e;
      text-align: center;
      line-height: 60px;
      margin: 0 auto; }
    #shiy li span {
      height: 40px;
      width: 40px;
      display: inline-block;
      background: url(../img/common_z.png) 370px 185px;
      vertical-align: middle; }
  #shiy .shiy1 {
    background: url(../img/common_z.png) 421px 182px; }
  #shiy .shiy2 {
    background: url(../img/common_z.png) 226px 268px; }
  #shiy .shiy4 {
    background: url(../img/common_z.png) 224px 366px; }
  #shiy .shiy5 {
    background: url(../img/common_z.png) 314px 234px; }
  #shiy .shiy6 {
    background: url(../img/common_z.png) 367px 234px; }
  #shiy .shiy7 {
    background: url(../img/common_z.png) 415px 234px; }

#shie {
  height: 74px;
  width: 1202px;
  float: left;
  margin-left: 30px; }
  #shie li {
    float: left;
    border-right: 1px solid #d9d9d9;
    margin: 30px 0; }
    #shie li a {
      color: #737373;
      font-size: 12px;
      margin: 0 38px; }
    #shie li a:hover {
      color: #ff6a00;
      text-decoration: underline; }
  #shie .shie1 {
    border: none; }

#sans {
  height: 0;
  overflow: hidden; }

#shisi {
  float: left;
  height: 66px;
  width: 1030px;
  margin: 28px auto;
  margin-left: 130px; }
  #shisi a {
    margin-right: 10px; }

#shiw {
  float: left;
  width: 866px;
  height: 20px;
  margin: auto;
  font-size: 12px;
  color: #737373;
  line-height: 20px;
  margin-left: 240px; }
  #shiw img {
    vertical-align: middle; }
  #shiw a {
    color: #737373; }
  #shiw span {
    color: #e0d9e0; }
  #shiw a:hover {
    color: #ff6a00;
    text-decoration: underline; }

#shil {
  float: left;
  width: 620px;
  height: 18px;
  margin: 16px 0;
  font-size: 12px;
  margin-bottom: 30px;
  margin-left: 320px;
  color: #737373; }
  #shil a {
    color: #737373; }
  #shil a:hover {
    color: #ff6a00;
    text-decoration: underline; }

#shib {
  height: 100%;
  width: 30px;
  background: #595656;
  position: fixed;
  right: 0px;
  top: 0;
  z-index: 4000; }
  #shib b {
    display: inline-block;
    width: 30px;
    height: 34px;
    background: url(../img/ibar_sprites.png) -3px -3px;
    margin-top: 150px; }
  #shib b:hover {
    background: #ff6a00 url(../img/ibar_sprites.png) -3px -3px; }
  #shib .shib1 {
    height: 130px;
    width: 24px;
    border-top: 1px solid #e0d9e0;
    border-bottom: 1px solid #e0d9e0;
    padding: 0 4px; }
    #shib .shib1 p {
      width: 16px;
      margin-left: 6px;
      font-size: 12px;
      margin-top: 6px;
      color: #fff; }
    #shib .shib1 b {
      display: inline-block;
      width: 30px;
      height: 30px;
      background: url(../img/ibar_sprites.png) -6px -36px;
      margin: 0; }
    #shib .shib1 span {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: #ff6a00;
      display: inline-block;
      margin: 10px 2px;
      font-size: 12px;
      text-align: center;
      line-height: 18px; }
  #shib .shib11 div {
    width: 300px;
    height: 200px;
    background: #fff;
    position: absolute;
    border: 1px solid #e7e7e7;
    left: -300px;
    top: 150px;
    text-align: center;
    font-size: 14px;
    color: #e0d9e0;
    line-height: 24px;
    display: none; }
    #shib .shib11 div img {
      border-radius: 50%;
      margin-top: 20px; }
    #shib .shib11 div a {
      color: #ff6a00; }
    #shib .shib11 div a:hover {
      text-decoration: underline; }
    #shib .shib11 div nav {
      height: 46px;
      background: #e0d9e0;
      margin-top: 30px;
      line-height: 46px; }
      #shib .shib11 div nav b {
        width: 30px;
        height: 30px;
        display: inline-block;
        background: url(../img/common_z.png) 57px 173px;
        margin: 0;
        margin-bottom: -4px; }
      #shib .shib11 div nav a {
        color: #000; }
      #shib .shib11 div nav a:hover {
        text-decoration: none;
        color: #ff6a00; }
  #shib .shib11:hover div {
    display: block; }
  #shib .shib12 div {
    width: 300px;
    height: 200px;
    background: #fff;
    position: absolute;
    border: 1px solid #e7e7e7;
    left: -300px;
    top: 360px;
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 24px;
    display: none; }
    #shib .shib12 div img {
      width: 120px; }
    #shib .shib12 div h4 {
      display: inline-block;
      text-align: center;
      margin-top: 30px; }
  #shib .shib12:hover div {
    display: block; }
  #shib span {
    display: inline-block;
    width: 30px;
    height: 32px;
    background: url(../img/ibar_sprites.png) -3px -72px;
    margin-top: 10px; }
  #shib .shib3 {
    background: url(../img/ibar_sprites.png) -3px -110px; }
  #shib .shib4 {
    background: url(../img/ibar_sprites.png) -3px -146px; }
  #shib .shib5 {
    background: url(../img/ibar_sprites.png) -3px -182px;
    margin-bottom: 16px; }
  #shib .shib6 {
    background: url(../img/ibar_sprites.png) -3px -362px; }
  #shib .shib7 {
    background: url(../img/ibar_sprites.png) -3px -218px; }
  #shib .shib8 {
    background: url(../img/ibar_sprites.png) -3px 142px;
    margin: 0; }
  #shib span:hover {
    background: #ff6a00 url(../img/ibar_sprites.png) -3px -72px; }
  #shib .shib3:hover {
    background: #ff6a00 url(../img/ibar_sprites.png) -3px -110px; }
  #shib .shib4:hover {
    background: #ff6a00 url(../img/ibar_sprites.png) -3px -146px; }
  #shib .shib5:hover {
    background: #ff6a00 url(../img/ibar_sprites.png) -3px -182px; }
  #shib .shib7:hover {
    background: #ff6a00 url(../img/ibar_sprites.png) -3px -362px; }
  #shib .shib6:hover {
    background: #ff6a00 url(../img/ibar_sprites.png) -3px -218px; }
  #shib .shib8:hover {
    background: #ff6a00 url(../img/ibar_sprites.png) -3px 142px; }
  #shib .shib1:hover {
    background: #ff6a00; }
    #shib .shib1:hover span {
      background: #fff;
      color: #ff6a00; }

#shij {
  height: 40px;
  width: 128px;
  background: #ff6a00;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  position: fixed;
  bottom: 0;
  right: 60px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  z-index: 3003; }
  #shij p {
    display: inline-block;
    width: 39px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    vertical-align: middle; }
    #shij p b {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      background: url(../img/icon-mq.png) 1px 0px;
      margin-right: 10px; }

.s33 {
  width: 108px;
  height: 30px;
  background: #F0F0F0;
  position: fixed;
  left: 1080px;
  bottom: 36px;
  font-size: 14px;
  color: #666;
  line-height: 30px;
  text-align: center;
  opacity: 0; }
  .s33 P {
    width: 0;
    border: 6px solid transparent;
    border-left: 6px solid #f0f0f0;
    float: right;
    position: relative;
    left: 12px;
    top: 8px; }

.sn1 {
  bottom: 294px; }

.sn2 {
  bottom: 250px; }

.sn3 {
  bottom: 204px; }

.sn4 {
  bottom: 158px; }

.sn5 {
  bottom: 46px; }
