*{
	margin: 0;
	padding: 0;
}
a{
    text-decoration: none;	
	color: #000;
}
li{
	list-style: none;
}
header{
	height: 271px;
	width: 1262px;
	.yi img{
		height: 80px;
		width: 100%;
		display: block;
	}
	.er{
		height: 36px;
		background: #f2f2f2;
		line-height: 36px;
		
		.er1{	
			margin-left: 42px;		  
			float: left;			
			a{	
				float : left;
				text-decoration: none;
				margin-right: 20px;
				font-size: 12px;
				color: #737373;
				padding-left : 6px;
				padding-right : 6px;
				.er11{
					width: 20px;
					height: 26px;
					background: url(../img/common_z.png);
					background-position: 0 51px;
					display: inline-block;
					margin-right: 4px;
			       margin-top:4px;
				}
				.er12{
					width: 20px;
					height: 26px;
					background: url(../img/common_z.png);
					background-position: 464px 236px;
					display: inline-block;
					margin-right: 4px;
				    margin-top:8px;
				}
				.er13{
					width: 20px;
					height: 26px;
					background: url(../img/common_z.png);
					background-position: 122px 197px;
					display: inline-block;
				    margin-top:8px;
					margin-right: 4px;
				}
				.w33{
					display: none;
					font-size: 12px;
					position: absolute;
					border: 1px solid #737373;
					text-align :center;
					background: #fff;
					z-index: 5000;
					line-height: 20px;
					color: #737373;
					img{
						margin: 10px;
					}
				}
				
			}
		a:hover{
			.w33{
				display: block;
				margin: 0;	
				
			}
		}
			
		}   
		
	span{
		    float: left;
			}
			.er2{
				font-size: 12px;
				float: right;
				color: #727272;
				margin-right: 30px;
			a{
				float: left;
				text-decoration: none;
				font-size: 12px;	
				color:#737373 ;
				height: 36px;
				padding-left : 8px;
				padding-right : 8px;
				
				.er21{	
					width: 0;
					border: 6px solid transparent;
					border-top: 6px solid #d9d9d9;
					margin-top: 14px;
					display: block;
				    float: right;
				}
				.er22{
					height: 32px;
					width: 24px;
					background: url(../img/common_z.png);
					background-position: 78px 86px;
					display: inline-block;
					vertical-align: middle;
				
				}
				
	     	}
		  .er221:hover{
			  background:#f2f2f2;
		  }
		}
		a:hover {
			   color: #ff6a00;
			   background: #fff;
			   height: 36px;
	    }
		
	}
	.er3{
		height: 118px;
		img{
			margin: 40px 0 0 20px;
			float: left;
		}
		nav{
			float: left;
			margin-left: 276px;
			margin-top: 40px;
			.er31{
				border: 1px solid #ff6a00;
				height: 30px;
				width: 238px;
				color: #aeaeae;
				font-size: 16px;
			}
			.er32{
				width: 80px;
				height: 32px;
				margin-left: -6px;
				background: #ff6a00;
				border: 2px solid #ff6a00;
				padding-top:2px ;
			}
			p a{
				color: #aeaeae;
				font-size: 12px;
			}
			a:hover{
				color: #ff6a00;
			}
			p span{
				font-size:12px ;
				margin-left: 4px;
				color: #e0d9e0;
			}
		}
		.er33{
			float: right;
			margin-top : 40px;
			margin-right: 30px;
			height: 40px;
			font-size: 14px;
			color: #737373;
			line-height: 40px;
			.er34{
				width: 28px;
				height: 28px;
				display: inline-block;
				background: url(../img/common_z.png) 38px 324px;
			    vertical-align: middle;
			}
			.er35{
				width: 28px;
				height: 28px;
				display: inline-block;
				background: url(../img/common_z.png) 125px 238px;
				vertical-align: middle;			
			}
			a{
				color: #737373;
				font-size: 14px;
			}
			a:hover{
				color: #ff6a00;
				text-decoration: underline;
			}
		}
	}
	
	.er4{
		height: 37px;
		line-height: 37px;
		.er44{
			display:  inline-block;
			width: 212px;
			margin-left: 20px;
			margin-right: 24px;
			background: #ff6a00;
			height: 37px;
			color: #fff;
			padding-left: 18px;
		}
		a{
			color: #4d4d4d;
			margin-right: 50px;
		}
		.er41{
			color: #ff6a00;
		}
		a:hover{
			color: #ff6a00;
		}
	}
	
}			
#san{
	height: 440px;
	background: #00f;
	position: relative;
	width: 1232px;
	border-top: 3px solid #ff6a00;
	ul li{
		position: absolute;
		left: 0;
		top: 0;
		img{
			width: 1232px;
			height: 440px;
		}
	}
	
	#yi{
		height: 437px;
		width: 230px;
		border-bottom: 3px solid #ff6a00;
		position: absolute;
		background: #fff;
		left: 20px;
		z-index : 3000; 
		.si{
			width: 204px;
			color: #ff6a00;
			font-size: 14px;
			margin: 0 14px;
			border-bottom: 1px solid #e9e9e9;
			p{
				margin: 6px 0 3px 0;
			}
			.si1{
					margin-bottom: 10px;
				}	
		}
		.si10{
			border: none;
		}
	}
	
	#ers{
		width: 560px;
		height: 210px;
		padding: 0 10px;
		border-left: 1px solid #e9e9e9;
		border-bottom: 1px solid #e9e9e9;
		position: absolute;
		top: -40px;
		background: #fff;
		left: 229px;
		z-index: 300;
		font-size: 14px;
		display: none;
		p {
			margin: 10px 0;
			color: #5e5e5e;
		}
		a{
			display: inline-block;
			border: 1px solid #e9e9e9;
			text-align: center;
			padding-bottom: 4px;
			color: #5e5e5e;
			float: left;
			border-right: none;
			margin: 0;
		}
		.ers1{
			border-right: 1px solid #e9e9e9 ;
		}
		a:hover{
			color: #ff6a00;
			text-decoration: underline;
		}
	}
	.si4{
		margin: 0 14px;
		width: 204px;
		border-bottom: 1px solid #e9e9e9;
		border-top: 1px solid #e9e9e9;
		z-index: 309;
		position: relative;
	}
	.si7{
	width: 208px;
	height: 28px;
	//padding: 0 14px;
	}
	
	 .si4:hover{
		margin: 0;
		padding: 0 14px;
		width: 199px;
		border-right: 5px solid #fff;
		box-shadow: 0px -1px 3px rgba(224,217,224, 0.4);
		.si7{
			border-bottom: 1px solid rgba(224,217,224, 0.1);
			width : 208px ;
			height: 27px;
			margin-left:-14px;
			padding: 0 8px 0 14px;
		}
		#ers{
					display: block;
					box-shadow: -1px 2px 3px rgba(224,217,224, 0.4);
			} 
	} 
        //.si4:hover 
	.si5{
		margin: 1px 14px;
		width: 204px;
		height: 36px;
		a{
			color: #ff6a00;
			font-size: 14px;
			margin-right: 0px;
			margin-top: 10px;
			
		}
		.si6{
			margin-left: 8px;
		}
	}
	
	#ery{
		height: 439px ;
		width: 680px;
		background: #fff;
		position: absolute;
		left: 230px;
		top: 0px;
		padding: 0 10px;
		font-size: 14px;
		border-left: 1px solid #e9e9e9;
		border-bottom: 1px solid #e9e9e9;
		display: none;
		p {
			margin: 10px 0;
			color: #5e5e5e;
		}
		.ers3{
			height: 200px;
			a{
				display: inline-block;
				border: 1px solid #e9e9e9;
				text-align: center;
				padding-bottom: 4px;
				color: #5e5e5e;
				float: left;
				border-right: none;
				padding: 4px 14px;
				width: 66px;
				margin-bottom: 10px;
			}
			.ers1{
				border-right: 1px solid #e9e9e9 ;
			}
			.ers2{
				border-right: 1px solid #e9e9e9 ;
			}
			
		}
		.ers5{
			font-size: 18px;
			height: 24px;
			margin-top:10px;
		}
		a{
			font-size: 12px;
			color: #737373;
			margin-right: 4px;
		}
		a:hover{
			color: #ff6a00;
			text-decoration: underline;
		}
	}
	.si5:hover{
		margin: 0;
		padding: 0 14px;
		border-bottom: 1px solid rgba(224,217,224, 0.1);
		border-top: 1px solid  #e9e9e9;
		height: 34px;
		box-shadow: 0px -1px 3px rgba(224,217,224, 0.4);
		#ery{
			display: block;
			box-shadow: -1px 2px 3px rgba(224,217,224, 0.4);
		}
	}
	
	.si2{
		float: left;
		width: 188px;
		margin: 6px 0 2px 0;
		color:  #ff6a00;
		font-size: 14px;
	}
	.si3{
		float: right;
		margin: 4px 0 ;
		font-size: 20px;
		color: #737373;
	}
   a{
		display: inline-block;
		margin-right: 14px;
		font-size: 12px;
		margin-bottom: 6px;
		color: #737373;		
	}
	.si41{
		height: 140px;
		width: 212px;
		position: absolute;
		left: 986px;
		top: 10px;
		z-index: 3000;
	}
	.si42{
		height: 140px;
		width: 212px;
		border-top: 2px solid #e4e4e4;
		position: absolute;
		left: 986px;
		top: 150px;
		z-index: 3000;
	}
	.si43{
		height: 140px;
		width: 212px;
		border-top: 2px solid #e4e4e4;
		position: absolute;
		left: 986px;
		top: 290px;
		z-index: 3000;
	}
	.er42{
		height: 36px;
		width: 80px;
		position: absolute;
		top: 50px;
		left: 18px;
	}
	a:hover{
		color: #ff6a00;
		text-decoration: underline;
	}
}
#wu{
	height: 120px;
	.wu1{
		height: 38px;
		padding: 30px 0 30px 30px;
		float : left;
		width : 210px;
		.wu2{
			height: 38px;
			width: 37px;
			float: left;
			background: url(../img/common_z.png) 176px 268px;
			margin-right: 10px;
		}
		.wu3{
			height: 38px;
			width: 38px;
			float: left;
			background: url(../img/common_z.png) 175px 316px;
			margin-right: 10px;
		}
		.wu4{
			height: 38px;
			width: 38px;
			float: left;
			background: url(../img/common_z.png) 175px 367px;
			margin-right: 10px;
		}
		.wu5{
			height: 38px;
			width: 38px;
			float: left;
			background: url(../img/common_z.png) 269px 183px;
			margin-right: 10px;
		}
		.wu6{
			height: 38px;
			width: 38px;
			float: left;
			background: url(../img/common_z.png) 317px 184px;
			margin-right: 10px;
		}
		span{
			font-size: 12px;
			color: #999999;
			float: left;
		}
		
	}
}
#liu{
	width: 1202px;
	height: 200px;
	margin: 0 20px;
	background: #aacc03;
	li{
		float: left;
		height: 200px;
        width: 240px;
		position: relative;
		img{
			height: 200px;
			border: 1px solid #e5e5e5;
			width: 247px;
		}
		span{
			margin: 40px 80px 30px 80px;
			width: 68px;
			height: 68px;
			display: inline-block;
			background: url(../img/common_z.png) 421px 370px;
		}
		p{
			font-size: 22px;
			color: #fff;
			padding-left: 66px;
		}
		.liu1{
			font-size: 14px;
			width: 60px;
			position: absolute;
			top: 106px;
			left: 14px;
			b{
				font-size: 16px;
			}
			p{
				width: 80px;
				height: 24px;
				border: 1px solid #ff6a00;
				border-radius: 12px;
				color: #FF6A00;
				font-size: 14px;
				padding:0px ;
				text-align: center;
				line-height: 24px;
				img{
					width: 8px;
					height: 10px;
					border: none;
				}
			}
		}
	}
}
#qi{
	height: 76px;
	width: 1222px;
	margin: 0 auto;
	p{
		font-size: 18px;
		color: #737373;
		margin-left: 10px;
		margin-top: 40px;
		float: left;
		span{
			color: #9e7388;
			font-size: 12px;
			margin-left: 20px;
		}
		a{
			color: #888888;
			line-height: 18px;
			display: inline-block;
		}
		a:hover{
			color: #ff6a00;
			//text-decoration: underline;
			border-bottom: 1px solid #ff6a00;
		}
	}
	.qi1{
		float: right;
		font-size: 12px;
		margin-top: 48px;
		margin-right: 24px;
		a{
			color: #9e7388;
		}
	}
	a:hover{
		color: #ff6a00;
		text-decoration: underline;
		//border-bottom: 2px solid #ff6a00;
	}
}
#ba{
	height: 634px;
	width: 1202px;
	margin: 0 auto;
	.ba1{
		width: 240px;
		height: 634px;
		background: #ffc0bb;
		float : left;
		position : relative;
		a img{
			width: 240px;
		    display: block;
		}
		.ba11{
			height: 46px;
			width: 186px;
			border: 2px solid #fff;
			display: block;
			text-align: center;
			line-height: 46px;
			font-size: 18px;
			color: #fff;
			margin: 70px 24px;
		}
		.ba11:hover{
			text-decoration: underline;
		}
		.ba3{
			position : absolute;
			top :240px;
			left: 10px;
			margin: 0;
			background: #fcd3a1;	
			border: 0;
			width: 220px;
			height: 64px;
			line-height: 64px;	
		}
	}
	ul{
		float: left;
		width: 960px;
		height: 633px;
		border-bottom: 1px solid #e5e5e5;
		li{
			height: 316px;
			width: 239px;
			border-top: 1px solid #e5e5e5;
			border-right: 1px solid #e5e5e5;
			float: left;
			text-align: center;
			img{
				height: 236px;
				width: 220px;
				margin: 10px;
			}
			p{
				font-size: 12px;
				color: #737373;
			}
			b{
				font-size: 12px;
			}
			
		}
		li a:hover{
			color: #ff6a00;	
			p{
				color: #ff6a00;	
			}	
		}		
	}
	.ba4{
		height: 316px;
		width: 100%;
		border: 1px solid #e5e5e5;
		border-top: 0;
		p{
			width: 216px;
			height: 146px;
			border-bottom: 1px solid #e5e5e5;
			margin:  0 auto;
			color: #ff6a00;
			font-size: 12px;
			b{
				margin: 22px 0 18px 0;
				display: inline-block;
				font-size: 14px;
			}
			a{
				line-height: 24px;
				color: #737373;
			}
			a:hover{
				color: #ff6a00;
				text-decoration: underline;
			}
		}
		.ba5 {
			border : 0;
		}
	}
}
#jiu{
	height: 290px;
	width: 1202px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 14px;
	.jiu1{
		width: 242px;
		background: #f2f2f2;
		float: left;
	}
	.jiu2{
		width: 472px;
		background: #f2f2f2;
		float: left;
		margin: 0 16px;
	}
	.jiu11{
		height: 32px;
		background: #898989;
		line-height: 32px;
		margin-bottom: 20px;
		h4{
			float: left;
			color: #fff;
			margin-left: 10px;
		}
		a{
			float: right;
			font-size: 18px;
			color: #898989;
			background: #fff;
			height: 16px;
			width: 16px;
			border-radius: 50%;
			line-height: 16px;
			text-align: center;
			margin: 8px 10px 0 0;
		}
		a:hover{
			text-decoration: none;
			color: #898989;
		}
	}
	ul{
		height: 238px;
		li{
			font-size: 12px;
			list-style: disc;
			margin-left: 20px;
			color: #838383;
			line-height: 36px;
		}
	}
	ol{
		height: 228px;
		width: 440px;
		margin: 10px 16px;
		li{
			height: 54px;
			padding: 12px 0 16px 0;
			border-bottom: 1px solid #e5e5e5;
			a{
				float: left ;
				color: #838383;
				font-size: 14px;
				img{
					height: 28px;
					width: 28px;
					padding: 4px;
					border: 1px solid #e1e1e1;
					border-radius: 4px;
				}
			}
			.jiu3{
				font-size: 10px;
				color: #737373;
				font-size: 10px;
				float: left;
				width: 360px;
				line-height: 24px;
				margin-left: 32px;
				color: #000;
				b{
					height: 14px;
					width: 70px;
					background: url(../img/common_z.png) 421px 16px;
					display: inline-block;
				}
				span{
					float: right;
					color: #838383;
				}
				
			}
			
		}
		.jiu31{
				border: none;
			}
	}
	.jiu4{
		background: #f2f2f2;
		width: 454px;
		float: left;
		ul{
			margin-left: 4px;
			width: 222px;
			float: left;
		}
		.jiu41 li{
			border-right: 1px solid #e5e5e5;
			
		}
	}
	a:hover{
		text-decoration: underline;
		color: #ff6a00;
	}
}
#shi{
	width: 1202px;
	height: 170px;
	border: 1px solid #e5e5e5;
	margin:  0 auto;
	.shi1{
		height: 120px;
		width: 258px;
		margin: 24px 0 24px 30px;
		float : left ;
		nav{
			float: right;
			color: #ffa600;
			p{
				font-size: 12px;
				color: #737373;
				margin-top: 10px;
				margin-bottom: 14px;
			}
			b{
				width: 54px;
				height: 54px;
				display: inline-block;
				background: url(../img/common_z.png) 288px 370px;
			}
			span{
				width: 54px;
				height: 54px;
				display: inline-block;
				background: url(../img/common_z.png) 361px 297px;
			}
		}
	}
	.shi2{
		float: left;
		margin: 14px 40px;
	}
	.shi3{
		width: 326px;
		p{
			font-size: 14px;
		}
		a{
			b{
				width: 54px;
				height: 54px;
				display: inline-block;
				background: url(../img/common_z.png) 288px 313px;
			}
		}
	}
}
#shiy{
	width: 1202px;
	height: 84px;
	background: #ff6600;
	margin: 0 auto;
	margin-top: 14px;
	li{
		padding: 0 18px;
		margin: 20px 0;
		border-right: 1px solid #c15900 ;
		line-height: 40px;
		float: left;
		a{
		    color: #fff;
			font-size: 14px;
		}
		span{
			height: 40px;
			width: 40px;
			display: inline-block;
			background: url(../img/common_z.png) 370px 185px;
			vertical-align: middle;
		}
		.shiy1{
			background: url(../img/common_z.png) 421px 182px;
		}
		.shiy2{
			background: url(../img/common_z.png) 226px 268px;
		}
		.shiy3{
			background: url(../img/common_z.png) 226px 316px;
		}
		.shiy4{
			background: url(../img/common_z.png) 224px 366px;
		}
		.shiy5{
			background: url(../img/common_z.png) 314px 234px;
		}
		.shiy6{
			background: url(../img/common_z.png) 367px 234px;
		}
		.shiy7{
			background: url(../img/common_z.png) 415px 234px;
		}
	}
	.shiy8{
		border: none;
	}
	
}
#shie{
	height: 74px;
	width: 1202px;
	margin: 0 auto;
	li{
		float: left;
		border-right: 1px solid #d9d9d9;
		margin: 30px 0;
		a{
			color: #737373;
			font-size: 12px;
			margin: 0 38px;
			
		}
		a:hover{
			color: #ff6a00;
			text-decoration: underline;
		}
	}
	.shie1{
		border: none;
	}
}
#shis{
	height: 208px;
	width: 1202px;
	padding: 0 30px;
	background: #f2f2f2;
	border-top:#dcdcdc ;
	border-bottom:#dcdcdc;
	div{
		width: 299px;
		height: 150px;
		border-right: 1px solid #d9d9d9;
		margin-top: 30px;
		float: left;
		h4{
			margin-bottom: 16px;
			font-size: 14px;
		}
		a{
			font-size: 12px;
			margin-right: 38px;
			color: #737373;
			line-height: 24px;
		}
	}
	.shis1{
		width: 255px;
		margin-left: 44px;
	}
	.shis2{
		a{
			line-height: 0px;
			font-size: 10px;
		}
		
		h4{
			font-size: 14px;
			color: #737373;
			margin-bottom: 8px;
		}
	}
	.shis3{
		border: none;
		p{
			color: #737373;
			font-size: 12px;
			line-height: 24px;
		}
	}
	a:hover{
		color: #ffa600;
		text-decoration: underline;
	}
}
#shisi{
	height: 66px;
	width: 1030px;
	margin: 28px auto;
	a{
		margin-right: 10px;
	}
}
#shiw{
	width: 866px;
	height: 20px;
	margin:  auto;
	font-size: 12px;
    color: #737373;
	line-height: 20px;
	img{
		vertical-align: middle;
	}
	a{
		 color: #737373;
	}
	span{
		color: #e0d9e0;
	}
	a:hover{
		color: #ff6a00;
		text-decoration: underline;
	}
}
#shil{
	width: 620px;
	height: 18px;
	margin: 16px auto;
	font-size: 12px;
	margin-bottom: 30px;
	color: #737373;
	a{
		color: #737373;
	}
	a:hover{
		color: #ff6a00;
		text-decoration: underline;
	}
}
#shiq{
	height: 64px;
	width: 1202px;
	margin: 0 auto;
	border-top:1px solid #d9d9d9 ;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 64px;
	color: #737373;
	b{
		margin-right: 10px;
	}
	a{
		color: #737373;
		margin: 0 4px;
	}
	a:hover{
		color: #ff6a00;
		text-decoration: underline;
	}
}
#shib{
	height: 100%;
	width: 30px;
	background: #595656;
	position: fixed;
	right: 0px;
	top: 0;
	b{
		display: inline-block;
		width: 30px;
		height: 34px;
		background: url(../img/ibar_sprites.png) -3px -3px;
		margin-top: 150px;
	}
	b:hover{
		background:  #ff6a00 url(../img/ibar_sprites.png) -3px -3px;
	}
	.shib1{
		height: 130px;
		width: 24px;
		border-top: 1px solid #e0d9e0;
		border-bottom: 1px solid #e0d9e0;
		padding: 0 4px;
		p{
			width: 16px;
			margin-left: 6px;
			font-size: 12px;
			margin-top: 6px;
			color: #fff;
		}
		b{
			display: inline-block;
			width: 30px;
			height: 30px;
			background: url(../img/ibar_sprites.png) -6px -36px;
			margin: 0;
		}
		span{
			height: 20px;
			width: 20px;
			border-radius: 50%;
			background: #ff6a00;
			display: inline-block;
			margin: 10px 2px;
			font-size: 12px;
			text-align: center;
			line-height: 18px;
		}
	}
	span{
		display: inline-block;
		width: 30px;
		height: 32px;
		background: url(../img/ibar_sprites.png) -3px -72px;
		margin-top: 10px;
	}
	.shib3{
		background: url(../img/ibar_sprites.png) -3px -110px;
	}
	.shib4{
		background: url(../img/ibar_sprites.png) -3px -146px;
	}
	.shib5{
		background: url(../img/ibar_sprites.png) -3px -182px;
		margin-bottom: 16px;
	}
	.shib6{
		background: url(../img/ibar_sprites.png) -3px -362px;
	}
	.shib7{
		background: url(../img/ibar_sprites.png) -3px -218px;
	}
	.shib8{
		background: url(../img/ibar_sprites.png) -3px 142px;
		margin: 0;
		display: none;
	}
	span:hover{
		background: #ff6a00 url(../img/ibar_sprites.png) -3px -72px;
	}
	.shib3:hover{
		background: #ff6a00 url(../img/ibar_sprites.png) -3px -110px;
	}
	.shib4:hover{
		background:#ff6a00 url(../img/ibar_sprites.png) -3px -146px;
	}
	.shib5:hover{
		background:#ff6a00 url(../img/ibar_sprites.png) -3px -182px;
	}
	.shib6:hover{
		background:#ff6a00 url(../img/ibar_sprites.png) -3px -362px;
	}
	.shib7:hover{
		background:#ff6a00 url(../img/ibar_sprites.png) -3px -218px;
	}
	.shib8:hover{
		background:#ff6a00 url(../img/ibar_sprites.png) -3px 142px;
	}
	.shib1:hover{
		background: #ff6a00;
		span{
			background: #fff;
			color: #ff6a00;
		}
	}
	
}
#shij{
	height: 40px;
	width: 128px;
	background: #ff6a00;
	border: 1px solid rgba(0,0,0,0.1);
	display: block;
	position: fixed;
	bottom: 0;
	right: 60px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	z-index: 3003;
	p{
		display: inline-block;
		width: 39px;
		border-right: 1px solid rgba(0,0,0,0.1);
		height: 40px;
		vertical-align: middle;
		b{
			display: inline-block;
			width: 20px;
			height: 20px;
			vertical-align: middle;
			background: url(../img/icon-mq.png) 1px 0px;
			margin-right: 10px;
		}
	}
	
}

  
